*.aux
*.bbl
*.blg
*.brf
*.idx
*.lof
*.log
*.lol
*.lot
*.nlo
*.out
*.synctex.gz
*.toc
*.ilg
*.nls
*.fls
*.ind
*.fdb_latexmk

# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# LaTeX output files
*.pdf
Meta.tex